.btn{
    border-radius: 20px;
    color:#fff;
    opacity:0.9;
    box-shadow: 3px 3px 4px 0 rgba(255, 255, 255, 0.1) inset, -2px -2px 3px 0 rgba(0, 0, 0, .5) inset;
    padding: 8px 16px 8px 16px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
      background: linear-gradient(180deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1));
      color: #fff;
      border-radius: 20px;
}